<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/31083e7e-53ae-4b6a-bd1b-518236710f74/resourceGroups/cw2/providers/Microsoft.Web/sites/StudentPerformanceAPIGateway</ResourceId>
    <ResourceGroup>cw2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://studentperformanceapigateway.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://studentperformanceapigateway.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$StudentPerformanceAPIGateway</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>